@import "tailwindcss";
@import "glasswindui/dist/index.css";
@custom-variant dark (&:where(.dark, .dark *));

html { 
  scroll-behavior: smooth;
  --default-font-family: "Lato", ui-sans-serif, system-ui, sans-serif;
}

body {
  min-height: 100vh;
}
